!!!
%html
  %head
    %title Glasgow JavaScript User Group

    %link{ rel:  "stylesheet/less",
           type: "text/css",
           href: "/stylesheets/styles.less" }

    %script{  type: "text/javascript",
              src:  "http://cdnjs.cloudflare.com/ajax/libs/less.js/1.3.0/less-1.3.0.min.js" }

    %script{  type: "text/javascript",
              src:  "http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js" }

    %meta{ name: "viewport",
           content: "width=device-width, initial-scale=1.0" }

  %body{class: 'container'}
    %header
      %h1 glasgow.js
      %h2 Glasgow JavaScript User Group

    %section{class: 'row'}
      %aside{class: 'mobile span4'}
        #next-meeting
          %h3
            = "Next Meeting: #{@next_meeting.strftime("%A #{@next_meeting.day.ordinalize} of %B")}"

      %article{class: 'span8'}
        = yield

      %aside{class: 'info span4'}
        #next-meeting
          %h3
            = "Next Meeting: #{@next_meeting.strftime("%A #{@next_meeting.day.ordinalize} of %B")}"

    %footer
      %small
        Some fonts by Google and of course I'm using Twitter Bootstrap!